
<!-- <app-header></app-header> -->

<app-navbar></app-navbar>

<!-- <app-data-types></app-data-types>

<app-string-interpolation></app-string-interpolation>

<app-property-binding></app-property-binding>

<app-event-binding></app-event-binding>

<app-two-way-binding></app-two-way-binding>
<app-style-binding></app-style-binding>

<app-class-binding></app-class-binding> -->

<!-- <app-ng-class-directives></app-ng-class-directives> -->
<!-- <app-ng-style></app-ng-style> -->

<!-- <app-if-diirctive></app-if-diirctive> -->

<!-- <app-for-directive></app-for-directive> -->

<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-if-else></app-if-else> -->
<!-- <app-for></app-for> -->

<!-- <app-switch></app-switch> -->

<!-- <app-model-example></app-model-example> -->

<!-- <app-our-team></app-our-team> -->

<!-- <app-product-list></app-product-list> -->

<!-- <app-default-pipes></app-default-pipes> -->

<router-outlet></router-outlet>