<form [formGroup]="form" action="">
    <div class="mb-3">
        <p>Name : </p>
        <input type="text" placeholder="Enter Name" formConntrolName="name">
    </div>

    <div class="mb-3">
        <p>Email : </p>
        <input type="email" placeholder="Enter Email" formConntrolName="email">
    </div>

    <div class="mb-3">
        <p>Age : </p>
        <input type="number" placeholder="Enter Age" formConntrolName="age">
    </div>

    <div class="mb-3">
        <p>Password : </p>
        <input type="password" placeholder="Enter Password" formConntrolName="password">
    </div>

    <div class="mb-3">
        <p>Confirm Password : </p>
        <input type="password" placeholder="Enter Password" formConntrolName="password">
    </div>

</form>